body {
    font-family: Alegreya, serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

/* Voor de navigatiebalk */

header {
    background-color: saddlebrown;
    color: blanchedalmond;
    padding-left: 20px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#site-title {
    margin-right: auto;
    display: inline-flex;
}

header img {
    height: auto;
    width: 5em;
    margin-right: 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    padding-right: 20px;
}

header ul li {
    margin-right: 20px;
    padding-right: 40px;
}

#spacenav {
    height: 100px;
}

header a {
    color: blanchedalmond;
    text-decoration: none;
}

header a:hover {
    color: darkolivegreen;
}

#hier {
    color: steelblue;
}

/* Voor de inhoud van de pagina algemeen */

#inhoud {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

content {
    color: rgb(74, 36, 9);
    font-size: 1.2rem;
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td img {
    width: 100%;
    height: auto;
}

/* Voor de inhoud van de pagina op de homepage */

#left {
    text-align: center;
    width: 60%;
    text-align: justify;
}

#right {
    text-align: center;
}

#midden {
    text-align: center;
    width: 10%
}

#knophome {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: larger;
    background-color: tan;
    border-radius: 5%;
    text-align: justify;
}

#knophome a {
    color: rgb(74, 36, 9);
    text-decoration: none;
}

#titelknophome {
    text-align: center;
}

#knophome:hover {
    background-color: darkolivegreen;
    color: blanchedalmond;
}

/* Voor de inhoud van de pagina op de receptiepagina */

#sybille {
    width: 80%;
    height: auto;
}

/* Voor de footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    background-color: saddlebrown;
    color: blanchedalmond;
    text-align: left;
    padding-left: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a {
    color: blanchedalmond;
    text-decoration: none;
}

footer a:hover {
    color: darkolivegreen;
}

footer img {
    width: 5em;
    margin-left: auto;
}