body {
    font-family: Alegreya, serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

/* Voor de navigatiebalk */

header {
    background-color: saddlebrown;
    color: blanchedalmond;
    padding-left: 20px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#site-title {
    margin-right: auto;
    display: inline-flex;
}

header img {
    height: auto;
    width: 5em;
    margin-right: 20px;
}

header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    padding-right: 20px;
}

header ul li {
    margin-right: 20px;
    padding-right: 40px;
}

#spacenav {
    height: 100px;
}

header a {
    color: blanchedalmond;
    text-decoration: none;
}

header a:hover {
    color: darkolivegreen;
}

#hier {
    color: steelblue;
}

/* Voor de inhoud van de pagina algemeen */

#inhoud {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

content {
    color: rgb(74, 36, 9);
    font-size: 1.2rem;
    text-align: left;
}

table {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    text-align: justify;
}

td img {
    width: 100%;
    height: auto;
}

td {
    vertical-align: top;
}

hr {
    border: 1px solid rgb(74, 36, 9);
    width: 100%;
}

#left {
    text-align: center;
    width: 60%;
    text-align: justify;
}

#right {
    text-align: center;
}

#midden {
    text-align: center;
    width: 10%
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: tan;
    color: rgb(74, 36, 9);
    border: none;
    cursor: pointer;
}

button a {
    color: rgb(74, 36, 9);
    text-decoration: none;
}

button:hover {
    background-color: darkolivegreen;
    color: blanchedalmond;
}

/* Voor de inhoud van de pagina op de homepage */

#knophome {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: larger;
    background-color: tan;
    border-radius: 5%;
    text-align: justify;
}

#knophome a {
    color: rgb(74, 36, 9);
    text-decoration: none;
}

#titelknophome {
    text-align: center;
}

#knophome:hover {
    background-color: darkolivegreen;
    color: blanchedalmond;
}

/* Voor de inhoud van de pagina op de receptiepagina */

#sybille {
    width: 80%;
    height: auto;
}

#buttondown {
    margin-right: 20px;
}

/*Voor de teksten-homepagina*/

#athena {
    width: 70%;
    height: auto;
}

/*Voor teksten-blokken*/

table.toptekst {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tekst {
    text-align: left;
    padding-left: 5%;
}

.tekstnav {
    width: 10%;
    vertical-align: top;
    padding-left: 20px;
    height: 200px;
    position: relative;
}

.lijst {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
}

.tekstnav p {
    padding: 0;
    margin: 0;
}

.tekstnav ul {
    padding-top: 0;
    margin-top: 0;
}

.tekstnav a {
    color: rgb(74, 36, 9);
    text-decoration: none;
}

.tekstnav a:hover {
    color: darkolivegreen;
    text-decoration: none;
}

.inklap {
    display: none;
}

.vertaling {
    width: 40%;
    padding-right: 30px;
    padding-left: 30px;
}

div#vertaling>a>button {
    width: 100%;
}

div:target>p.inklap {
    display: block;
    font-size: 1.4rem;
}

li:target>ul.inklap {
    display: block;
}

.corpus {
    font-size: 1.4rem;
    white-space: nowrap;
}

.corpus p {
    padding: 0;
    margin: 0;
}

.indent {
    text-indent: 15px;
}

h4 {
    margin: 0;
    padding: 0;
}

#def {
    width: 60%;
}



/* Voor de footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    background-color: saddlebrown;
    color: blanchedalmond;
    text-align: left;
    padding-left: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a {
    color: blanchedalmond;
    text-decoration: none;
}

footer a:hover {
    color: darkolivegreen;
}

footer img {
    width: 5em;
    margin-left: auto;
}